{% extends 'base.html' %}

{% block content %}
<h2>Your Wishlist:</h2>

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

{% if wishlist_items %}
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {% for item in wishlist_items %}
                    <li class="list-group-item d-flex align-items-center">
                        <img src="{{ item.car.image.url }}" alt="{{ item.car.model }}" class="img-thumbnail" style="width: 100px; height: auto; margin-right: 15px;">
                        <div>
                            <h5>{{ item.car.make }} {{ item.car.model }}</h5>
                            <p>Price: ${{ item.car.price }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <p>Your wishlist is empty.</p>
{% endif %}

{% endblock %}
