{% load static %}
<!-- Hero Slider Begin -->
<section class="hero-slider">
  <div class="hero-items owl-carousel">
      <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-1.JPG' %}">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      
                      <h2>The Best Cars, Just a Click Away!.</h2>
                      <a href="#" class="primary-btn">See More</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-2.JPG' %}">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      
                      <h2>Upgrade Your Drive Shop Now!.</h2>
                      <a href="#" class="primary-btn">See More</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-3.JPG' %}">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      
                      <h2>Fast, Easy, Reliable Car Buying!</h2>
                      <a href="#" class="primary-btn">See More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Hero Slider End -->
